package ui

templ Alert(message string) {
	<div class="flex items-center gap-2.5 px-3 py-2.5 rounded-md bg-danger/10 border border-danger/20 animate-slide-down">
		<i class="fa-solid fa-circle-exclamation text-danger text-sm shrink-0"></i>
		<p class="text-xs text-danger font-medium">{ message }</p>
	</div>
}
