package channel

templ Empty() {
	<div class="flex flex-col items-center gap-4">
		<i class="fa-solid fa-hashtag text-content-faint text-6xl transition-colors"></i>
		<p class="text-content-faint text-center transition-colors">Select a channel to start chatting</p>
	</div>
}
