package pages

import (
	"github.com/arko-chat/arko/components/features/friends"
	"github.com/arko-chat/arko/components/sidebar"
	"github.com/arko-chat/arko/models"
)

templ FriendsPageContent(user models.User, spaces []models.Space, viewData []models.User) {
	<main class="flex w-full h-screen overflow-hidden">
		@sidebar.SpaceList(spaces)
		@sidebar.NavigationSidebar("friends", user, viewData)
		@friends.View("online")
	</main>
}
